html, body {
    font-weight: 200;
  }
  
  div.container {
    width: 800px;
    border: 1px solid black;
    padding-top: 5px;
  }
  
  img#gclogo {
    width: inherit;
    height: inherit;
  }

  div#queryForm {
    padding: 1px 0px 10px 0px;
    height: 120px;
  }
  
  div.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  
  div.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
  }

  div#inputBox {
    flex: 0 0 auto;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
  }

  /*
  Pager Style
  */
  div#tablesetBody {
    padding: 0px 5px 0px 0px;
  }
  /*
  div#tablesetBody {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
  }*/

  /* table formats */

  table.grid {
    margin: 0 0 0 0;
    border-collapse: collapse;
    border: 3px solid rgb(0, 51, 128);
    width: 100%;height: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: yellow;
  } 

  table td:hover {
    transform: scale(1.1);
    color:tomato;
  }

  tr#total_cost {
    font-size: 120%;
    font-style: italic; 
    font-weight: bold;
  }

  tr#Measure {
    font: bold large serif
  }

  div#total {
    width: 50%;
    padding: 10px 0px 5px 10px;
    flex: 0 0 400px;
  }
  
  /*
  Item Style
  */
 