html, body {
    width: 1600px;
    font-weight: 200;
  }
  
  div.container {
    width: 1600px;
    border: 1px solid black;
    padding-top: 0px;
  }
  
  .gclogo {
    width: inherit;
    height: inherit;
    border-bottom: 1px solid black;
    align-content:center;
  }
  img#gclogo {
    width: 80%;
    padding-left: 40px;
  }
  
  div.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis:content;
  }
  
  div.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    /*flex-flow: row ;*/
    flex-basis: auto;
    flex: 1;
  }

  div#inputBox {
    padding-left: 2%; 
    text-align: center;
  }

  /*
  Pager Style
  */
  div#tablesetBody {
    padding: 0px 5px 0px 0px;
  }
  /*
  div#tablesetBody {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
  }*/

  /* table formats */

  table.grid {
    margin: 0 0 0 0;
    border-collapse: collapse;
    border: 3px solid rgb(0, 51, 128);
    width: 100%;height: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: yellow;
  } 

  table td:hover {
    transform: scale(1.1);
    /*color:tomato;*/
  }

  tr#total_cost {
    font-size: 120%;
    font-style: italic; 
    font-weight: bold;
  }

  tr#Measure {
    font: bold large serif
  }

  div#total {
    width: 50%;
    padding: 10px 0px 5px 10px;
    flex: 0 0 800px;
  }
  